# Import SQL Data into Python

In [1]:
import mysql.connector
import pandas as pd

In [2]:
# 1. Database Connection Details 
config = {
    'user': 'root',
    'password': 'Oshu@9207',
    'host': 'localhost', 
    'database': 'student_db'
}

In [3]:
# 2. SQL Query to Join Data

sql_query = """
SELECT
    S.student_id,
    S.first_name,
    S.last_name,
    (A.classes_attended * 100.0 / A.total_classes) AS Attendance_Percent,
    AVG(G.marks) AS Average_Marks
FROM
    Students AS S
JOIN
    Attendance AS A ON S.student_id = A.student_id
JOIN
    Grades AS G ON S.student_id = G.student_id
GROUP BY
    S.student_id, S.first_name, S.last_name, A.classes_attended, A.total_classes;
"""

In [5]:

# 3. Connecting and Executing
try:
    conn = mysql.connector.connect(**config)
    
    # Read the SQL query result into a Pandas DataFrame
    df = pd.read_sql(sql_query, conn)
    
    conn.close()
    print("Data imported successfully!")

except mysql.connector.Error as err:
    print(f"Error: {err}")
    df = pd.DataFrame() # Create empty DataFrame if connection fails

# Displaying the first few rows
print(df.head())

Data imported successfully!
   student_id first_name last_name  Attendance_Percent  Average_Marks
0         101      Alice     Smith            95.00000           90.0
1         102        Bob   Johnson            50.00000           47.5
2         103    Charlie     Brown            93.75000           72.5
3         104      Diana    Prince            88.00000           92.5
4         105       Evan    Taylor            91.11111           82.5

C:\Users\Osheen kumar\AppData\Local\Temp\ipykernel_26492\2525997575.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, conn)

# Preprocess and clean the data.

In [8]:
# Defining a passing criteria (e.g., marks > 40 and attendance > 75%)
PASS_MARK_THRESHOLD = 40
PASS_ATTENDANCE_THRESHOLD = 75

# Creating the 'PassFail' column (target variable for prediction)
df['PassFail'] = ((df['Average_Marks'] > PASS_MARK_THRESHOLD) & 
                   (df['Attendance_Percent'] > PASS_ATTENDANCE_THRESHOLD)).astype(int)

print(df[['Average_Marks', 'Attendance_Percent', 'PassFail']].head())

   Average_Marks  Attendance_Percent  PassFail
0           90.0            95.00000         1
1           47.5            50.00000         0
2           72.5            93.75000         1
3           92.5            88.00000         1
4           82.5            91.11111         1

# Machine Learning Model (Prediction)